
.about{
    background: white;
    border-radius: 25px;

}
.topMargin{
    height: ;
}
.about .img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.about .img::after{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    right: 0;
}
img{
    width: 100%;
}
.mtop{
    margin-top: 50px;
}
.heading h3{
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0;
    color: palevioletred;
}
.about p{
    margin-bottom: 20px;
}
.left{
    padding-right: 30px;
}