*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font: 62.5%;
}
body{
  font-family: monospace;
  color: #222;
  font-weight: 300;
  line-height: 1.6;
  background-color: #dffeff;
  overflow-x: hidden;
}
.app{
  max-width: 80%;
  margin: auto;
}
