
.home{
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 25px;

}

.box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 60vh;

}
.left{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

}

.left img{
    object-fit: contain;
    width: 100%;
}

.topMargin{
display: inline-block;
margin-top: 50px;

}
.right-text{
    font-size: 3rem;
    color: #6185a8;
}
#birthday, #cane, #apple{
    padding: 15px;
    border-radius: 50%;
    transition: .5s;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;


}

.socialIcon i:hover, #cane:hover, #apple:hover{
    color: white;
    border-radius: 1px soild white;
}
.fa-birthday-cake, #cane, #apple{
    border: 1px solid pink;
    color: pink;
    margin-right: 10px;
}


button{
    background: none;
    outline: none;
    border: none;
    color: white;
    font-weight: 60;
    font-size: 15px;
    transition: .5s;
    cursor: pointer;
}
.primary-btn{
    padding: 15px 40px;
    background: pink;
}
.primary-btn:hover{
    background: #f54ea2;
    box-shadow: 0 13px 27px 0 rgb(245 78 162 / 25%);
}
.socialIcon{
    margin: 20px 0;
}

.home p{
    margin-bottom: 20px;
    color: #6185a8;
    line-height: 30px;
}


@media screen and (max-width: 768px){
    .box{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        height: 70vh;
    }
    .topMargin{
        align-items: center;
        margin-top: 0;
    }
    .left, .right{
        width: 100%;
        height: 100%;
    }
}